@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width:60%;
    height: 80%;
    border: none;
    display: flex;
    box-shadow: 5px 5px 5px 5px rgb(103, 160, 179);
    z-index: 999;
}
.image{
    width: 50%;
}
.image img{
    height: 100%;
    width:100%;
}
.login{
display:flex;
align-items: center;
flex-direction: column;
justify-content: center;
width: 50%;
gap: 10px;
z-index: 999;
background-color: #fff;
}
.logindes{
    width: 80%;
}

.btn{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background: salmon;
    color: white;
    font-size: 30px;
    font-family: 'Kalnia', serif;
    transition: 0.3s ease;

}
.btn:active{
    scale: 0.8;
}
.user{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.pass{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.user input{
  font-size: large;
  padding: 2%;
  margin-bottom: 20px;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid black;
  
}
.pass input{
    font-size: large;
    padding: 2%;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  input:focus {
    outline: none;
    border: none; 
    border-bottom: 1px solid black; 
}
.bottom{
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.form-head{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    font-size: 50px;
}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
